.fontf {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  cursor: pointer;
  padding: 32px 50px 50px 80px;
}
li:hover {
  color: black;
  border-bottom: 2px solid #0c0c0c;
}
li {
  list-style-type: none;
  display: inline;
  margin-left: 50px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0c0c0c;
}
.midle {
  margin-left: 250px;
}
.big {
  width: 1380px;
  margin: auto;
  border-radius: 40px;
  height: 508px;
  background-color: #FBE0DC;
}
.text {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #0c0c0c;
  margin-left: 140px;
}
.picter {
  float: right;
  margin-right: 40px;
  margin-top: 10px;
}
.a {
  display: inline-flex;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
}
.a .b {
  width: 367px;
  height: 290px;
  margin-right: 100px;
  background-color: #ffffff;
}
.a .b .ve {
  width: 100%;
  height: 24px;
}
.a .b .ve .do {
  float: left;
  font-size: 19px;
  font-weight: bold;
}
.a .b .ve .red {
  float: right;
  font-size: 12px ;
}
.a .b .dc div {
  float: right;
}
.a .b .dc a {
  float: left;
}
.a .b .dc .dfd {
  width: 20px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 5px;
}
.a .b .dc .fdf {
  width: 20px;
  height: 20px;
  background-color: #0c0c0c;
  border-radius: 5px;
}
.a .b .dc .ve {
  font-size: 19px;
  font-weight: bold;
}
.a .b .dc .ve .img {
  float: right;
}
.a .b .dc .ga {
  margin-left: 3px;
}
.a .rig {
  width: 100%;
  height: 290px;
}
.a .rig .imog {
  position: absolute;
}
.a .rig .we {
  width: 925px;
}
.a .rig .ws {
  display: inline-flex;
}
.a .rig .op {
  width: fit-content;
  height: fit-content;
  float: right;
  position: absolute;
  margin-left: 650px;
}
.a .rig .zve {
  width: 270px;
  margin-top: 160px;
}
.a .rig .zve a {
  font-size: 15px;
}
.a .rig .zve .zaq {
  width: 100%;
}
.a .rig .zve .zaq .fv {
  float: left;
  font-size: 12px;
}
.a .rig .zve .zaq .fc {
  float: right;
  font-size: 11px;
  color: #8f8f8f;
}
.a .rig .zve .zaq img {
  margin-top: 2px;
}
.a .rig .ws :first-child {
  margin-right: 55px;
}
